{{ define "audio_control_helpers" }}

    <script> 

        class BuntingSong {
            constructor(title, url, buffer, img="", uid="") {
                this.title = title;
                this.url = url;
                this.buffer = buffer;
                this.img = img;
                this.uid = uid;
            }
        }

        class library {
            constructor() {
                this.songs = {};
            }
            add(song) {
                this.songs[song.uid] = song; 
            } 
            get(uid) {
                return this.songs[uid];
            }
        } 
        LIBRARY = new library(); 

        function getLocalTime() {
            return Date.now() + (performance.now() % 1);
        }

        function getSyncedTime(){
            return getLocalTime() + SERVER_OFFSET;
        }

        function getPlayedTill(){
            return ActiveAudio.TimeStamp;
        } 
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function SendDelayRequests(){
            let reqnos = 6;

            for ( let i = 0; i<reqnos; i++ ){
                //  send delay request  
                sendMessage({
                        type : "DELAYREQUEST", 
                        delayReqSentAt : getLocalTime(), // t1
                }); 
                await sleep(250);
            }

            await sleep(250);

            let avg_server_diff = SERVER_TIME_DIFFS / reqnos;
            let avg_rtt = ROUND_TRIPS / reqnos;

            SERVER_OFFSET = avg_server_diff - avg_rtt / 2;

            console.log("average RTT ", avg_rtt);
            console.log("offset ", SERVER_OFFSET);

            log("average RTT "+ avg_rtt);
            log("offset "+SERVER_OFFSET);

        }

        let isDragging = false;
        
        function audioSliderStart(){

            let elapsed;  

            if ( isDragging ) {
                return;
            }

            const slider = document.querySelector('.audio-slider');
            if (isActiveAudioPlaying()) {
                elapsed = BuntingContext.currentTime - PLAY_SCHEDULED_AT;
                slider.value = Math.min(ActiveAudio.TimeStamp + elapsed, slider.max);
            } else {
                slider.value = Math.min(ActiveAudio.TimeStamp, slider.max);
            }

            animationFrameId = requestAnimationFrame(audioSliderStart);
        }

        let audioSliderStop = () => { 
            cancelAnimationFrame(animationFrameId);
            animationFrameId = null;
        }

        function setSliderMax(duration){
            const slider = document.querySelector('.audio-slider');
            slider.max = duration;
        }
        
        function setSliderCurrent(ts){ 
            console.log("current t s ", ts)
            const slider = document.querySelector('.audio-slider');
            slider.value = ts;
        }

        u('.audio-slider').on('change', function(){
            toggleGlobalPause();
            sendMessage({
                type : "TIMESTAMP",
                timestamp : parseInt(document.querySelector('.audio-slider').value,10),
            }); 
        })

        u(".audio-slider").on("touchstart mousedown", () => {
            isDragging = true;
        });

        u(".audio-slider").on("touchend mouseup", () => {
            isDragging = false;
        });

    </script>

{{ end }}