{{ define "audio_controls" }}
    <script>
        const play_pause_btn = document.querySelector(".play_pause_btn");

        let SERVER_OFFSET = 0;
        let SOCKET = ""; 

        PLAY_TIMESTAMP = 0;
        AUDIO_PLAYING = false;
        AUDIO_LOADED = false; 
        AUDIO_URL = "";

        ROUND_TRIPS = 0
        SERVER_TIME_DIFFS = 0

        function ConnectToWebSocket() {
            SOCKET = new WebSocket("wss://chat-webserver.glitch.me/");

            SOCKET.addEventListener("open", function () { 

                SendDelayRequests();

                showContent();
                console.log("✅ Connected to WebSocket server");
            });

            SOCKET.addEventListener("message", async function (event) {
                const data = JSON.parse(event.data);
                console.log(event.data);

                if (data.type === 'PLAY') {  

                    log("play at "+data.scheduledTime)

                    AUDIO_URL = data.url;
                    LOCALPLAY(data); 

                } else if (data.type == 'PAUSE') {
                    LOCALPAUSE();

                } else if (data.type == "DELAYRESPONSE") {  

                    let clientRecievedAt = getLocalTime(); // T3
                    // delayReqRecievedAt T2

                    let RoundTriptime = clientRecievedAt - data.delayReqSentAt; 

                    ROUND_TRIPS += RoundTriptime
                    SERVER_TIME_DIFFS += data.delayReqRecievedAt - data.delayReqSentAt 

                    console.log(ROUND_TRIPS, SERVER_TIME_DIFFS)

                } else if ( data.type === "LOAD" ){
                    LoadSongLocal(data.url, data.title, data.img);

                } else if ( data.type == "VOLUME" ){
                    setBuntingVolume(data.volume);
                }
            });

            SOCKET.addEventListener("error", function (event) {
                console.log("❌ WebSocket error:", event);
            });

            SOCKET.addEventListener("close", function () {
                console.log("🔌 WebSocket connection closed"); 
                alert("disconnected, please refresh !")
                // LOCALPAUSE();
                // ConnectToWebSocket();
            });
        }

        ConnectToWebSocket();

        function sendMessage(payload) {
            const payload_s = JSON.stringify(payload);
            SOCKET.send(payload_s);
            console.log(`📤 You: ${payload_s}`);
        }

        play_pause_btn.addEventListener('click', () => {
            toggleGlobalPlayPause();
        });

        function LOADSONGGLOBAL(to_be_loaded_title, to_be_loaded_url, to_be_loaded_img=""){
            sendMessage({
                    type : "LOAD",
                    url : to_be_loaded_url,
                    title : to_be_loaded_title,
                    img : to_be_loaded_img,
            }); 
        }

        function LOCALPLAY(data) {
            document.querySelector('.inner_svg').classList.remove('play_svg');
            BuntingPlay(data);
        }

        function LOCALPAUSE() {
            document.querySelector('.inner_svg').classList.add('play_svg');
            BuntingPause();
        }

        function toggleGlobalPlayPause() {
            if (!AUDIO_LOADED) {
                alert('load audio')
                return;
            }

            if (AUDIO_PLAYING) {
                sendMessage({
                    type:'PAUSE',
                    url : AUDIO_URL,
                });
            } else { 
                sendMessage({
                    type:'PLAY',
                    url : AUDIO_URL,
                    timestamp : getPlayedTill(),
                });
            }
        }

        document.addEventListener('keydown', function (event) {
            if (event.code === "Space") {
                event.preventDefault();
                toggleGlobalPlayPause();
            }
        }); 

    </script> 

    {{ template "audio_control_helpers" . }}

{{ end }}