{{ define "audio" }}

<script> 

    const BuntingContext = new (window.AudioContext || window.webkitAudioContext)();
    let BuntingGainNode = BuntingContext.createGain();
    BuntingGainNode.connect(BuntingContext.destination);

    let BuntingSource = null;

    let PLAY_SCHEDULED_AT = 0;    // in context seconds (when .start() happened) 

    function LoadSongLocal(data){ 
        let audio_url = data.url;
        let audio_name = data.title;
        let audio_img = data.img;
        let audio_uid; 
        if ( "uid" in data ){
            audio_uid = data.uid;
        }else{
            audio_uid = this.uid = Math.random().toString(36).slice(2, 8);
        }
        
        BuntingPause();

        if ( ActiveAudio.Audio.uid === audio_uid ) return  

        console.log(LIBRARY.get(audio_uid))

        if (LIBRARY.get(audio_uid)) {
            setActiveAudio( LIBRARY.get(audio_uid) , 0 , true);
            generateBuntingSource();
            log("audio loaded from library cache") 
        }else{
            let buffer = null;
            let new_song = new BuntingSong(audio_name, audio_url, buffer, audio_img, audio_uid);
            if ( data.preset == "false" || data.preset == false ) {
                if (document.querySelectorAll('.aud_id_'+audio_uid).length == 0) showSong(new_song); 
            }
            u(".aud_id_"+audio_uid).addClass("loading-tr")

            loadSongHelper(audio_url).then(buffer => { 
                new_song.buffer = buffer;
                LIBRARY.add(new_song);
                setActiveAudio( LIBRARY.get(audio_uid) );     

                u(".aud_id_"+audio_uid).removeClass("loading-tr")
                u(".aud_id_"+audio_uid).addClass("loaded-tr")

                generateBuntingSource();
                console.log("Audio loaded! ", audio_url);
                log("audio loaded")
                setActiveAudioLoaded();
            });
        } 
        
        
    }

    function BuntingPlay(data) {
        if (!LIBRARY.get(data.uid)) { 
            alert("song not loaded, click on the song to load it") 
            return;
        }

        setActiveAudio(LIBRARY.get(data.uid), data.timestamp, true);

        generateBuntingSource(); // re-create node
        let timeuntilplay = ( data.scheduledTime  - getSyncedTime() ) / 1000;
        const when = BuntingContext.currentTime + timeuntilplay;
        ActiveAudio.TimeStamp = data.timestamp;

        BuntingSource.start(when, ActiveAudio.TimeStamp);
        setActiveAudioPlaying();

        PLAY_SCHEDULED_AT = when; 

        log("time to left "+timeuntilplay)
        console.log("▶️ Playing from", ActiveAudio.TimeStamp.toFixed(2), "seconds");
    }

    function BuntingPause() {
        if (!isActiveAudioPlaying()) return; 
        
        BuntingSource.stop();
        setActiveAudioPlaying(false); 

        // Update buffer timestamp (how far we’ve played)
        const playedDuration = BuntingContext.currentTime - PLAY_SCHEDULED_AT;
        ActiveAudio.TimeStamp += playedDuration; 

        if ( ActiveAudio.TimeStamp >= ActiveAudio.Audio.buffer.duration ) {
            ActiveAudio.TimeStamp = 0;
            setSliderCurrent(0);
        }

        console.log("⏸️ Paused at", ActiveAudio.TimeStamp.toFixed(2), "seconds");
    } 

    function loadSongHelper(url) {
        return fetch(url)
            .then(res => res.arrayBuffer())
            .then(arrBuf => BuntingContext.decodeAudioData(arrBuf)); 
    }

    function generateBuntingSource() {
        BuntingSource = BuntingContext.createBufferSource();
        BuntingSource.buffer = ActiveAudio.Audio.buffer;
        BuntingSource.connect(BuntingGainNode);
        BuntingSource.onended = () => {
            BuntingPause(); 
            console.log("🎵 Playback finished");
        };
    }

    function setBuntingVolume(vol, isSelf=false) { 
        vol = vol / 100
        currentVolume = Math.min(1, Math.max(0, vol)); 
        BuntingGainNode.gain.setValueAtTime(currentVolume, BuntingContext.currentTime); 
        if (!isSelf) {
            document.querySelector('.volume-slider').value = (vol * 100);
        }
    }
</script>

{{ end }}