{{ define "audio_controls" }}
    <script>
        const play_pause_btn = u(".play_pause_btn");

        let SERVER_OFFSET = 0;
        let SOCKET = ""; 

        ROUND_TRIPS = 0
        SERVER_TIME_DIFFS = 0 

        function setLogoText(txt){
            u('.logo-text').html(txt); 
        }

        function ConnectToWebSocket() {
            SOCKET = new WebSocket("wss://chat-webserver.glitch.me/"); 

            setLogoText("connecting...")

            SOCKET.addEventListener("open", function () { 
                setLogoText('Bunting');
                SendDelayRequests();
                
                if ( first_time ) {
                    showContent();
                    first_time = false;
                }
                console.log("✅ Connected to WebSocket server");
            });

            SOCKET.addEventListener("message", async function (event) {
                const data = JSON.parse(event.data);
                console.log(event.data);

                if (data.type === 'PLAY') {  

                    log("play at "+data.scheduledTime)
                    BuntingPlay(data);

                } else if (data.type == 'PAUSE') {
                    BuntingPause();

                } else if (data.type == "DELAYRESPONSE") {  

                    let clientRecievedAt = getLocalTime(); // T3
                    // delayReqRecievedAt T2

                    let RoundTriptime = clientRecievedAt - data.delayReqSentAt; 

                    ROUND_TRIPS += RoundTriptime
                    SERVER_TIME_DIFFS += data.delayReqRecievedAt - data.delayReqSentAt 

                    console.log(ROUND_TRIPS, SERVER_TIME_DIFFS)

                } else if ( data.type === "LOAD" ){
                    LoadSongLocal(data);

                } else if ( data.type == "VOLUME" ){
                    setBuntingVolume(data.volume);

                } else if ( data.type == "TIMESTAMP" ){
                    ActiveAudio.TimeStamp = data.timestamp;
                    setSliderCurrent(data.timestamp);
                }
            });

            SOCKET.addEventListener("error", function (event) {
                setLogoText('error ws');
                console.log("❌ WebSocket error:", event);
            });

            SOCKET.addEventListener("close", function () {
                console.log("🔌 WebSocket connection closed"); 
                setLogoText("disconnected")

                ROUND_TRIPS = 0
                SERVER_TIME_DIFFS = 0
                SERVER_OFFSET = 0

                ConnectToWebSocket();
            });
        }

        ConnectToWebSocket();

        function sendMessage(payload) {
            const payload_s = JSON.stringify(payload);
            SOCKET.send(payload_s);
            console.log(`📤 You: ${payload_s}`);
        }

        play_pause_btn.on('click', () => {
            toggleGlobalPlayPause();
        });

        function LOADSONGGLOBAL(to_be_loaded_title, to_be_loaded_url, to_be_loaded_img="", to_be_loaded_uid, presetAudio=false){
            sendMessage({
                    type : "LOAD",
                    url : to_be_loaded_url,
                    title : to_be_loaded_title,
                    img : to_be_loaded_img,
                    uid : to_be_loaded_uid,
                    preset : presetAudio,
            }); 
        }

        function toggleGlobalPlayPause() {
            if (!isActiveAudioLoaded()) {
                alert('load audio')
                return;
            }

            if (isActiveAudioPlaying()) {
                toggleGlobalPause();
            } else { 
                toggleGlobalPlay();
            } 
        }

        function toggleGlobalPause() {
            if (isActiveAudioPlaying()) {
                sendMessage({
                    type:'PAUSE',
                    uid : ActiveAudio.Audio.uid,
                });
            }
        }

        function toggleGlobalPlay(){
            if (isActiveAudioLoaded()) {
                if ( !isActiveAudioPlaying() ){
                    sendMessage({
                        type:'PLAY',
                        uid : ActiveAudio.Audio.uid,
                        timestamp : getPlayedTill(),
                    });
                }
            }else {
                alert('let the audio load')
            }
        }

        document.addEventListener('keydown', function (event) {
            if (event.code === "Space") {
                event.preventDefault();
                toggleGlobalPlayPause();
            }
        }); 

    </script> 

    {{ template "audio_control_helpers" . }}

{{ end }}