{{ define "content" }}

    <style> 

        .play_pause_btn {
            background: var(--b-red);
            color : var(--white);
            border : none;
            outline : none;
            padding : 1em 1.5em ;
            border-radius: 50em; 
        }
        .floor {
            position : fixed;
            bottom : 0;
            left:0;
            right : 0;
            
            width : 100%;
            background : var(--dark-2);

            display : flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap : 1em;
        }
        .floor-top {
            width : 100%;
            height : 2em;
            background : var(--dark-3);

            display : flex;
            justify-content: center;
            align-items: center; 

            position : relative;
        }
        .floor-top p {
            text-transform: uppercase;
            font-size : .8em;
            letter-spacing: .1em;
            color : var(--light-5);
            padding: 0 1.5em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .floor-bottom {
            padding : 1em;

            display : flex;
            justify-content: center;
            align-items: center;
            gap : 1em;
        }
        .inner_svg {
            background : black;
            width : 1em;
            height : 1em;
            border-radius : .2em;
            transition : clip-path 0.3s ease, margin-left 0.3s ease;
            clip-path: none;
        }
        .play_svg{
            clip-path: polygon(100% 51%, 15% 1%, 15% 100%) !important; 
        } 

        #log {
            width : 100%;
            color : var(--dark-5);
            font-size : .8em;
        }
        #log p {
            color : inherit;
            font-size : inherit;
        } 
        .library-bowl {
            width : 100%;
            padding : 2em 1em;
        }
        .library-cont {
            width : 100%; 

            display : grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            place-items : center start;
            grid-gap : 1.5em;
        }
        .library-cont .tr {
            width : 100%; 

            display : grid;
            grid-template-columns: 4em 1fr;
            place-items : end start;
            grid-gap : .5em; 

            cursor : pointer;
        } 
        .library-cont .tr img {
            width : 100%;
            height : 100%;
            border-radius: .25em;
            object-fit: cover;

            aspect-ratio : 1/1;
        }

        .library-song-title{
            font-size : .8em;
            padding : .5em 1em;
            color : var(--wt-60);
            border-radius: .25em;
            background : var(--dark-2);

            width : 100%;
            height : 100%;
            overflow : hidden;
            text-overflow : ellipsis;
            white-space : nowrap;
            text-align: left;

            text-transform : uppercase;
            font-weight : 600;
            letter-spacing : .1em;

            display : flex;
            justify-content: flex-start;
            align-items: flex-end;
        } 
        .library-song-url {
            display : none;
        }

        .volume-slider-bowl {
            padding : 1em;
        }
        .volume-slider {
            -webkit-appearance: none;
            width: 100%;
            max-width : 12em;
            height: 3em;
            background: var(--dark-3);
            outline: none;
            -webkit-transition: .2s;
            transition: opacity .2s;
            border-radius: 10em;
            padding : .7em;

            position : relative;
        }

        .volume-slider::before {
            content : "volume";
            position : absolute;
            bottom : 50%;
            transform : translateY(50%);
            left : 15%;
            z-index : 1;
            color : var(--wt-35);
        } 

        .volume-slider:hover {
            opacity: 1;
        }

        .volume-slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 2em;
            height: 2em;
            background: var(--b-red);
            cursor: pointer;
            border-radius: 50em;
            z-index : 5;
            position: relative;
        }

        .volume-slider::-moz-range-thumb {
            width: 2em;
            height: 2em;
            background: var(--b-red);
            cursor: pointer;
            border-radius: 50em;
            position: relative;
            z-index : 5;
        } 
    </style> 


    <div class="floor"> 
        <div class="floor-top"> 
            <p class="footer-current-play-title">No song loaded</p>
        </div>
        <div class="floor-bottom">
            <input type="range" class="volume-slider" max="100" min="0" value="100">
            <button class="play_pause_btn"> <div class="inner_svg play_svg"></div> </button>
        </div>
    </div> 

    {{ template "spotifier" . }}

    

    <div class="library-bowl stiff">
        <div class="library-cont"> 
            <div class="tr" onclick="LOADSONGGLOBAL(this.querySelector('.library-song-title').innerHTML, this.querySelector('.library-song-url').innerHTML, this.querySelector('img').src)">
                <img src="https://upload.wikimedia.org/wikipedia/en/5/57/Peelings_song.jpg" alt="">
                <p class="library-song-title">Peelings</p>
                <p class="library-song-url">https://aac.saavncdn.com/366/2eb21d94241ba0d9e970d808a7dc015d_160.mp4</p>
            </div> 
            <div class="tr" onclick="LOADSONGGLOBAL(this.querySelector('.library-song-title').innerHTML, this.querySelector('.library-song-url').innerHTML, this.querySelector('img').src)">
                <img src="https://i.ytimg.com/vi/gcYGwcUmjZo/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLDokTzhL4l-cBTS4mOnrfMqcIIuEw" alt="">
                <p class="library-song-title">Aayi Nai</p>
                <p class="library-song-url">https://aac.saavncdn.com/373/9a3ad2173b2e80bc6f9655d1da7c8f27_160.mp4</p>
            </div> 
            <div class="tr" onclick="LOADSONGGLOBAL(this.querySelector('.library-song-title').innerHTML, this.querySelector('.library-song-url').innerHTML, this.querySelector('img').src)">
                <img src="https://i.ytimg.com/vi/q_rtuBQRQfc/maxresdefault.jpg" alt="">
                <p class="library-song-title">Uyi Amma</p>
                <p class="library-song-url">https://aac.saavncdn.com/770/9c18ad89fbb3dff8c2167eda17c50904_160.mp4</p>
            </div> 
            <div class="tr" onclick="LOADSONGGLOBAL(this.querySelector('.library-song-title').innerHTML, this.querySelector('.library-song-url').innerHTML, this.querySelector('img').src)">
                <img src="https://i.scdn.co/image/ab67616d0000b2734bc66095f8a70bc4e6593f4f" alt="">
                <p class="library-song-title">Levitating</p>
                <p class="library-song-url">https://aac.saavncdn.com/665/7790c3b9097592113008eaf1031d6e57_160.mp4</p>
            </div> 

        </div>
    </div> 

    <div id="log"></div> 

    <script>

        document.querySelector('.volume-slider').addEventListener('input', function(){
            let vol = this.value; 
            setBuntingVolume(vol,true);
            sendMessage({
                type : "VOLUME",
                volume : vol,
            }); 
        })

        function toggleVolume(){
            document.querySelector('.volume-slider').classList.toggle('hide');
        }

        function showSong(song) {
            document.querySelector('.library-cont').innerHTML = `
                <div class="tr" onclick="LOADSONGGLOBAL(this.querySelector('.library-song-title').innerHTML, this.querySelector('.library-song-url').innerHTML, this.querySelector('img').src)">
                    <img src="${song.img}" alt="">
                    <p class="library-song-title">${song.title}</p>
                    <p class="library-song-url">${song.url}</p>
                </div>
            ` + document.querySelector('.library-cont').innerHTML
        }

        function showInFooter(name="NO SONG LOADED"){
            document.querySelector(".footer-current-play-title").innerHTML = name;
        }
        
    </script>

    
    {{ template "audio_controls" . }}
    {{ template "audio" . }}


{{ end }}

{{ template "base" . }} 
