{{ define "spotifier" }}
    <style>
        .audio_form {
            width : 100%;
            padding : .35em 1em .35em 1.5em; 

            display : grid;
            grid-template-columns : 1fr 4em;
            place-items : center;
            gap : 1em; 

            background : var(--dark-2);
            border-radius: 10em;
        }
        .audio_form input {
            width : 100%;
            background : inherit;
            color : var(--wt-60);
            font-size : .9em;
            border : none;
            outline : none;
            margin : .25em;
        }
        .audio_form button {
            border : none;
            outline : none;
            padding :  .3em 1.5em;
            margin : .25em;
            background : transparent;
            color : var(--dark-1);
            background : var(--light-3);
            font-size : 1.2em;
            border-radius: 30em;
            text-transform: uppercase;
            letter-spacing: .05em;
            font-weight: bold;
        }
    </style>
    <form class="audio_form stiff"> 
        <input type="text" class='audio_title' required value="default" hidden>
        <input type="text" class="audio_url" required value="" placeholder="Enter Youtube Video Link">
        <button>></button>
    </form> 

    <script>
        u('.audio_form').on('submit', function(e){
            e.preventDefault(); 

            let url = document.querySelector('.audio_url').value.trim();
            let title  = document.querySelector('.audio_title').value.trim();

            if (!url) return 

            // check if url is of youtube music
            let url_domain = url.split('/')[2];
            if ( url_domain.includes("www.youtube.com") || url_domain.includes("music.youtube.com") || url_domain.includes("m.youtube.com") || url_domain.includes("youtu.be") ){ 
                if ( url_domain.includes("youtu.be") ){
                    handleYoutubeMusic(url.split("/")[3].split('?')[0]);
                } else {
                    handleYoutubeMusic(url.split('=')[1])
                }
            }else if (url_domain.includes("open.spotify.com")) {
                handleSpotifyMusic(url);
            }else{
                LOADSONGGLOBAL(title, url);
            }

        }) 


        function handleYoutubeMusic(url_id) {

            let first_url = `/ytextract/`+url_id;

            let first_response ;

            fetch(first_url)
                .then(response => response.json()) // Parse JSON body
                .then(jsonData => { 
                    first_response = jsonData;
                    console.log('first reps ', first_response) 

                    LOADSONGGLOBAL(first_response.title, first_response.link, "https://img.youtube.com/vi/"+url_id+"/mqdefault.jpg", url_id);
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                });

        }

        
        function handleSpotifyMusic(url){

            let sj_data = {
                type :"song",
                url : url,
            }

            fetch("https://spotify.downloaderize.com/wp-json/spotify-downloader/v1/fetch", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(sj_data)
            })
            .then(response => response.json())
            .then(first_response => { 
                first_response = first_response.data;
                LOADSONGGLOBAL(first_response.title, first_response.downloadLink, first_response.cover, first_response.id);
            })
            .catch(error => {
                console.error('Error:', error);
                return null;
            });
        }

    </script>
{{ end }}