{{ define "spotifier" }}
    <style>
        .audio_form, .audio_form_spotify {
            width : 100%;
            padding : .35em 1em .35em 1.5em; 

            display : grid;
            grid-template-columns : 1fr 4em;
            place-items : center;
            gap : 1em; 

            background : var(--dark-2);
            border-radius: 10em;
        }
        .audio_form input , .audio_form_spotify input {
            width : 100%;
            background : inherit;
            color : var(--wt-60);
            font-size : .9em;
            border : none;
            outline : none;
            margin : .25em;
        }
        .audio_form button , .audio_form_spotify button{
            border : none;
            outline : none;
            padding :  .3em 1.5em;
            margin : .25em;
            background : transparent;
            color : var(--dark-1);
            background : var(--light-3);
            font-size : 1.2em;
            border-radius: 30em;
            text-transform: uppercase;
            letter-spacing: .05em;
            font-weight: bold;
        }  

        .audio_form_spotify {
            margin-top : 1em;
        }

        .spotify_results {
            width : 100%;
            border-radius : 1em;
            margin : 1em auto;
            padding : 1.5em;
            background : var(--dark-2);

            display : flex;
            flex-direction: column;
            justify-content : flex-start;
            align-items: center;
            gap : 1em;
        }
        .spotify_result {
            width : 100%;
            display : flex;
            justify-content : flex-start;
            align-items: center;
            gap :1em; 
            cursor : pointer;
        }
        .spotify_result img {
            width : 2em;
            border-radius: .2em;
        }
        .spotify_result p {
            font-size : .9em;
            color : var(--wt-60);
            width : 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: left;
        }

    </style>
    <!-- <form class="audio_form stiff"> 
        <input type="text" class='audio_title' required value="default" hidden>
        <input type="text" class="audio_url" required value="" placeholder="Enter Youtube Video Link">
        <button>></button>
    </form>   -->

    <form class="audio_form_spotify stiff"> 
        <input type="text" class='audio_title_spotify' required value="" placeholder="Search Song Name">
        <button>></button>
    </form>
    <div class="spotify_results hide stiff">
        <!-- <div class="spotify_result" url="sfdb">
            <img src="https://i.scdn.co/image/ab67616d0000b2737b9888dc365b8f957c63df14" alt="">
            <p>title</p>
        </div> -->
    </div>


    <script>
        // u('.audio_form').on('submit', function(e){
        //     e.preventDefault(); 

        //     let url = document.querySelector('.audio_url').value.trim();
        //     let title  = document.querySelector('.audio_title').value.trim();

        //     if (!url) return 

        //     // check if url is of youtube music
        //     let url_domain = url.split('/')[2];
        //     if ( url_domain.includes("www.youtube.com") || url_domain.includes("music.youtube.com") || url_domain.includes("m.youtube.com") || url_domain.includes("youtu.be") ){ 
        //         if ( url_domain.includes("youtu.be") ){
        //             handleYoutubeMusic(url.split("/")[3].split('?')[0]);
        //         } else {
        //             handleYoutubeMusic(url.split('=')[1])
        //         }
        //     }else if (url_domain.includes("open.spotify.com")) {
        //         if ( url.includes('album') ) {
        //             alert('albums are not supported, only tracks')
        //         }else{
        //             handleSpotifyMusic(url);
        //         }
        //     }else{
        //         LOADSONGGLOBAL(title, url);
        //     }

        // })  


        u('.audio_form_spotify').on('submit', function(e){
            e.preventDefault();
            let title = document.querySelector('.audio_title_spotify').value.trim(); 

            fetch("https://api.cratehackers.com/magicplaylist/magicPlaylistToken")
                            .then(response => response.text())
                            .then(bearer => {
                                
                                fetch("https://api.spotify.com/v1/search?q="+title+"&type=track&limit=5",{
                                    method: 'GET',
                                    headers: {
                                        'Content-Type': 'application/json',
                                        'Authorization': "Bearer "+bearer,
                                        },
                                    })
                                    .then(response => response.json()) // Parse JSON body
                                    .then(jsonData => {  

                                        let items = jsonData.tracks.items;
                                        if (typeof items === "undefined") {
                                            alert("error finding song") 
                                            return
                                        }

                                        u('.spotify_results').html("")
                                        u('.spotify_results').removeClass('hide')

                                        for ( let item of items ){ 

                                            console.log(item)

                                            let s_name = item.name;
                                            let s_url = item.external_urls.spotify;
                                            let s_img = item.album.images[item.album.images.length-1].url;

                                            u('.spotify_results').append(`
                                                <div class="spotify_result" url='${s_url}'  data-id="${item.id}" data-title='${s_name}' data-img="${s_img}"  data-url="${s_url}"
                                                   onclick='handleSpotifyClick(this)' >
                                                    <img src="${s_img}" alt="">
                                                    <p>${s_name}</p>
                                                </div>
                                            `)

                                        }

                                    })
                                    .catch(error => {
                                        console.error('Fetch error:', error);
                                    });




                            })
                            .catch(error => {
                                console.error('bearer gen error :', error);
                            });

            
            

        })


        // function handleYoutubeMusic(url_id) {

        //     let first_url = `/ytextract/`+url_id;

        //     let first_response ;

        //     fetch(first_url)
        //         .then(response => response.json()) // Parse JSON body
        //         .then(jsonData => { 
        //             first_response = jsonData;
        //             console.log('first reps ', first_response) 

        //             LOADSONGGLOBAL(first_response.title, first_response.link, "https://img.youtube.com/vi/"+url_id+"/mqdefault.jpg", url_id);
        //         })
        //         .catch(error => {
        //             console.error('Fetch error:', error);
        //         });

        // }

        function handleSpotifyClick(el){
            u('.spotify_results').html("")
            u('.spotify_results').addClass('hide')

            const new_song = new BuntingSong(
                el.dataset.title,
                el.dataset.url,
                null,
                el.dataset.img,
                el.dataset.id
            );
            showSong(new_song);
            u(".aud_id_"+el.dataset.id).addClass("loading-tr")
            handleSpotifyMusic(el.dataset.url, el.dataset.id)
        }
        function handleSpotifyMusic(url, uid){

            let sj_data = {
                type :"song",
                url : url,
            }

            fetch("https://spotify.downloaderize.com/wp-json/spotify-downloader/v1/fetch", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(sj_data)
            })
            .then(response => response.json())
            .then(first_response => { 
                first_response = first_response.data; 

                LOADSONGGLOBAL(first_response.title, first_response.downloadLink, first_response.cover, uid);
            })
            .catch(error => {
                console.error('Error:', error);
                return null;
            });
        }

    </script>
{{ end }}